* {
    list-style-type:none;
    list-style: none;
}

#login{
    /*text-align: right;*/
    float: right;
    margin-top: 25px;
}



p{
    display: inline-block;
    margin-left: 100px;
}

body{
    background-color: black;
    color: darkblue;
}

#header_ag{
    /*display: inline-block;*/
    background-color: lightgrey;
    border-style: solid;
    border-color: whitesmoke;
}
#logout{
    text-align: right;

}
h1{
    display: inline-block;
    /*border: groove;*/
    border-color: antiquewhite;
    margin-left: 10px;
}

#header_ag2{
    display: inline-block;
    margin-left: 100px;
}
img{
    width: 166px;
    height: 236px;
    display: inline-block;
    text-align: center;
    margin:15px;
    margin-right: 17px;
    display: inline-block;
}

#main_an{
display: inline-block;
}

#footer_ag1{

    background-color: lightgrey;
    border-style: solid;
    border-color: whitesmoke;
    color: darkblue;
}

#footer_ag2{
    display: inline-block;
    background-color: lightgrey;
    border-style: solid;
    border-color: whitesmoke;
    color: darkblue;
}

#footer_ag3 {
    display: inline-block;
}
a:hover {
    color: darkgray;
}

a:visited {
    color: darkslategray;
}

a:active {
    color: darkred;
}
/*li.img_caroussel{*/
    /*display: inline-block;*/
    /*text-align: center;*/
/*}*/

/*#login > label > input{*/
    /*text-align: right;*/
/*}*/
/*
ul {
    display: inline-block;
}*/
/*
li{
    display: inline-block;
}*/